@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

header{
background-color: rgb(119, 56, 168);
padding-top: 1em;
padding-left: 1em;
padding-right: 1em;
border-radius: 10px;
}

#oc,#jack,#war,#eng,#can,#china,#spa,#about{
background-color: black; opacity: .6;
border-style: solid;
color:white;
border-color: black;
border-radius: 2em;
font-size: 20px;
cursor: pointer;
}


#words{
text-align: center;
color:gray;
font-size: 12px;
}


#oc:hover,#jack:hover,#war:hover,#eng:hover,#can:hover,#china:hover,#spa:hover,#about:hover{
background-color: yellow;
color:black
}

.top{
display: flex;
flex-direction: row;
justify-content: space-between;
}

h1{
text-align:center;
color: rgb(205, 64, 179); 
font-family: 'Michroma', sans-serif;
}

#ads{
background-color: gray;
height:75px;
width:600px;
margin: auto;
border-radius: 5px;
background-image:url(./banner.webp);
background-size:100%;
background-repeat:no-repeat;
animation-name: changeAd;
animation-duration: 3s;
animation-delay: 5s;
animation-iteration-count: infinite;
}

@keyframes changeAd {
  from{background-image:url(./banner.webp);}
  to{background-image:url(./2.jpeg);}
} 


table{
margin-right: auto;
margin-left: auto;  
background-color: rgb(111, 38, 185);

}
.someImg{
text-align: center;
font-size: 70px;
}

.slot{
    height: 200px;
    width: 200px;
    background-color: rgb(203, 21, 167);
    border-radius: 30px;
}

p{
font-size: 40px;
}

.layer1{
  
    height: 400px;
    background: radial-gradient(#e66465, #9198e5);
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius: 30px;

    
}


#result {
  color: rgb(205, 64, 179);  
  font-size: 50px;
  text-align: center;
}

#money {
  color: rgb(205, 64, 179); 

}
#wallet{
  color: rgb(205, 64, 179); 
  font-family: 'Michroma', sans-serif;

}

#other{
  height:300px;
  width:600px;
  background-image:url(./otherslots.png);
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  cursor: pointer;
  
}

#other:hover{
  border-style: double;
  border-color: rgb(217, 255, 0);

}
.buttons{
text-align: center;
margin-top: 15px;
}

button{
  cursor:pointer;
  font-size: 20px;
  border-radius: 5px;
}


#review{
  border-top:10px solid rgb(205, 64, 179);    ;

}
#dscpt{
font-size: 12px;

}

#free{
font-size: 12px;
text-align: center;
cursor: pointer;
color: azure;
}

details{
  background-color: azure;opacity: .7;
  border-style: solid;
  border-color: black;
  font-size: 20px;
  padding: 10px; 
  margin: 5px;
  cursor: pointer;

}


/* #test{
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from{background-color:red;}
  to{background-image:url('./2.jpeg');}
} */


body{
  background-color:rgb(25, 24, 24);
}

